<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sami Glasco</string>
	<key>Builder Version</key>
	<string>11601.3.9</string>
	<key>CFBundleDisplayName</key>
	<string>CanvasClasses</string>
	<key>CFBundleIdentifier</key>
	<string>com.samiglasco.canvasclasses</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Identifier</key>
				<string>popover</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbar</string>
				<key>Image</key>
				<string>Untitled-1.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Canvas</string>
				<key>Popover</key>
				<string>popover</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>quick canvas class access</string>
	<key>DeveloperIdentifier</key>
	<string>9QVZ9TLK43</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
</dict>
</plist>
